
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link href="main.css" type="text/css" rel="stylesheet" />
        <script language="javascript" type="text/javascript" src="/index.js"></script>
    </head>
    <body>

{{{body}}}
    </body>
    <script src="/index.js"></script>
</html>
