
        <div class="myCanvas">
          <div id="msg" style="">Ready! Set! Go!</div>
          <div class="popUp" id="one"  style=""><img src="./assets/congratulations_you_won.png"></div>
          <div class="popUp" id="two" style="display: none;"><img src="./assets/lucky_winner.jpg"></div>
          <div class="popUp" id="three" style="display: none;"><img src="./assets/you_tube.jpg"></div>
          <div class="popUp" id="four" style="display: none;"><img src="./assets/you_tube.jpg"></div>
          <div class="popUp" id="five" style="display: none;"><img src="./assets/congratulations_you_won.png"></div>
          <div class="popUp" id="six" style="display: none;"><img src="./assets/you_tube.jpg"></div>
          <div class="popUp" id="seven" style="display: none;"><img src="./assets/lucky_winner.jpg"></div>
          <div class="popUp" id="eight" style="display: none;"><img src="./assets/congratulations_you_won.png"></div>
          <div class="popUp" id="nine" style="display: none;"><img src="./assets/lucky_winner.jpg"></div>
          <div class="popUp" id="ten" style="display: none;"><img src="./assets/congratulations_you_won.png"></div>
          <div class="popUp" id="eleven" style="display: none;"><img src="./assets/lucky_winner.jpg"></div>
          <div class="popUp" id="twelve" style="display: none;"><img src="./assets/you_tube.jpg"></div>
          <div class="popUp" id="thirteen" style="display: none;"><img src="./assets/lucky_winner.jpg"></div>
          <div class="popUp" id="fourteen" style="display: none;"><img src="./assets/congratulations_you_won.png"></div>
          <div class="popUp" id="fifteen" style="display: none;"><img src="./assets/lucky_winner.jpg"></div>
        </div>
