
        <div class="myCanvas">
          <div>

          <form id="hof_form">
            <h1>Hall of Fame Inductee</h1>
            <input type="text">NAME</input>
          </form>
        </div>
