<!DOCTYPE html>
<html>
    <head>
        <title>Hall of Fame Form</title>
        <link href="main.css" type="text/css" rel="stylesheet" />
        <script language="javascript" type="text/javascript" src="/index.js"></script>
    </head>
    <body>
        <div class="myCanvas">
          <div>

          <form id="hof_form">
            <h1>Hall of Fame Inductee</h1>
            <input type="text">NAME</input>
          </form>
        </div>
    </body>
    <script src="/index.js"></script>
</html>
