<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link href="main.css" type="text/css" rel="stylesheet" />
        <script language="javascript" type="text/javascript" src="/index.js"></script>
    </head>
    <body>
        <div class="myCanvas">
          <div id= "welcome_message">
            <h1>Welcome to "Revenge of the Popups"</h1>
            <h2>Rules:</h2>
            <p>This is where the rules go</p>
            <a href="hall_of_fame.html"><button id="hall_of_fame">Hall of Fame</button></a>
            <a href="game-page.html"><button id="play_game">Play Game</button></a>
          </div>
        </div>
    </body>
    <script src="/index.js"></script>
</html>
